@model LapTrinhWebBanHang.Models.Product
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/admin/Shared/_MasterLayout.cshtml";
}
<h2>Thêm sản phẩm mới</h2>

@using (Html.BeginForm("CreateProducts", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ProductName)
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description)
        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = 4 } })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ImageURL)
        <input type="file" name="ImageFile" class="form-control" />
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryID)
        @Html.DropDownList("CategoryID", (SelectList)ViewBag.Categories, "Chọn danh mục", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
}
<div>
    @Html.ActionLink("Back to List", "ManageProducts")
</div>
