@model LapTrinhWebBanHang.Models.ProductViewModel
@{ Layout = null; }

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <div>
        <label>Product Name</label>
        @Html.TextBoxFor(m => m.Product.ProductName)
    </div>

    <div>
        <label>Price</label>
        @Html.TextBoxFor(m => m.Product.Price)
    </div>

    <div>
        <label>Description</label>
        @Html.TextAreaFor(m => m.Product.Description)
    </div>

    <div>
        <label>Category</label>
        @Html.DropDownList("Product.CategoryID", ViewBag.Categories as SelectList, "-- Select Category --")
    </div>

    <div>
        <label>Image (Main)</label>
        <input type="file" name="ImageFile" />
    </div>

    <div>
        <label>Additional Images</label>
        <input type="file" name="AdditionalImages" multiple="multiple" />
    </div>

    <div>
        <label>Color</label>
        @Html.DropDownListFor(m => m.SelectedColorID, new SelectList(Model.Colors, "ColorID", "ColorName"), "-- Select Color --")
    </div>

    <div>
        <label>Size</label>
        @Html.DropDownListFor(m => m.SelectedSizeID, new SelectList(Model.Sizes, "SizeID", "SizeValue"), "-- Select Size --")
    </div>

    <div>
        <label>Quantity</label>
        @Html.TextBoxFor(m => m.Quantity)
    </div>

    <button type="submit">Add Product</button>
}
