<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Liên kết Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Các liên kết CSS của Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Bundle JS (bao gồm Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Các tệp CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/MasterLayout/header.css" />
    <link rel="stylesheet" href="~/Content/MasterLayout/subnav.css" />
    <link rel="stylesheet" href="~/Content/MasterLayout/style.css">
    <link rel="stylesheet" href="~/Content/MasterLayout/footer.css">
    <link rel="stylesheet" href="~/Content/MasterLayout/responsive.css" />
    <title>HANGMUSPORTS.VN</title>
</head>
<body>
    <div id="main">
        <div class="header">
            <!-- CONTACT HEADER -->
            <div class="contact-header">
                <ul>
                    <li>
                        <span>
                            <i class="fa-duotone fa-solid fa-phone-volume"></i> HOTLINE:
                        </span>
                        <a href="tel:0123456789">0123456789</a>
                    </li>
                </ul>
            </div>

            <!-- NAV -->
            <nav class="nav navbar navbar-expand-xl navbar-light bg-light">
                <li class="logo-web">
                    <a href="@Url.Action("Home_Page", "HomePage")">
                        <img src="~/Image/thumbnail/logo-MU.jpg" alt="Logo" />
                        <p>HANGMUSPORTS.VN</p>
                    </a>
                </li>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse list-nav" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a href="@Url.Action("CategoryPage", "Category", new { id = 0 })">TẤT CẢ</a></li>
                        <li class="nav-item">
                            <a href="">THƯƠNG HIỆU<i class="ti-angle-down"></i></a>
                            <ul class="sub-nav">
                                <li>
                                    <a href="@Url.Action("CategoryPage", "Category", new { id = 1 })">Nike</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CategoryPage", "Category", new { id = 2 })">Adidas</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CategoryPage", "Category", new { id = 3 })">Puma</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#jersey">ÁO ĐẤU<i class="ti-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#instruct">HƯỚNG DẪN<i class="ti-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#footer">LIÊN HỆ<i class="ti-angle-down"></i></a>
                        </li>
                        <li>
                            <div class="search-bar">
                                <input type="text" placeholder="Search..." id="search-input" onkeyup="handleEnter(event)" />
                                <button onclick="redirectToSearchPage()" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </li>
                        <li class="account">
                            @if (HttpContext.Current.Session["Email"] != null)
                            {
                                var email =
                            HttpContext.Current.Session["Email"] as string;
                                <div class="dropdown">
                                    <a class="parentButton dropdown-toggle"
                                       data-bs-toggle="dropdown"
                                       href="#"
                                       aria-haspopup="true"
                                       aria-expanded="false">
                                        <span>@email</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Đăng xuất", "Logout", "Account", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("Thông tin", "Index", "UserAddresss", null, new { @class = "dropdown-item" })
                                        @Html.ActionLink("DashBoard", "DashBoard", "Admin", null, new { @class = "dropdown-item" });
                                    </div>
                                </div>
                                <div class="shopping-cart">
                                    <a href="@Url.Action("ViewCart", "Carts")">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span id="cart-icon-quantity" class="badge bg-danger">
                                            @(Session["CartQuantity"] ?? 0)
                                        </span>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="container-acc">
                                    @Html.ActionLink("Đăng nhập", "Sign_in", "Account")
                                    <span>/</span>
                                    @Html.ActionLink("Đăng ký", "Register", "Account")
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
            
        </div>
        @RenderBody()
        <!--  footer -->
        <div id="footer" class="footer">
            <div class="contact-footer row">
                <div class="ourself col-lg-3 col-md-6 col-12">
                    <h3>VỀ CHÚNG TÔI</h3>
                    @*<img src="https://hali.vn/wp-content/uploads/2020/01/logo-MU.jpg" alt="Logo MU" />*@
                    <div class="socials-list">
                        <a href="https://www.facebook.com/ltt2712?locale=vi_VN" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/_ltt_2712/" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://github.com/ltthanh2712" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://twitter.com/" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="info col-lg-3 col-md-6 col-12">
                    <h3 style="margin-left: 24px;">CHÍNH SÁCH</h3>
                    <ul>
                        <li><a href="">Chính sách đổi trả</a></li>
                        <li><a href="">Chính sách bảo hành</a></li>
                        <li><a href="">Chính sách giao nhận hàng</a></li>
                        <li><a href="">Chính sách bảo mật</a></li>
                        <li><a href="">Chương trình khác hàng thân thiết</a></li>
                    </ul>
                </div>
                <div class="map col-lg-3 col-md-6 col-12">
                    <h3>LIÊN HỆ</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/xuanbac.abc?locale=vi_VN" target="_blank">Nguyễn Xuân Bắc</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100039603459445&locale=vi_VN" target="_blank">Trần Duy Khoa</a></li>
                        <li><a href="https://www.facebook.com/ltt2712?locale=vi_VN" target="_blank">Lâm Tấn Thành</a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=100022915635838&locale=vi_VN" target="_blank">Nguyễn Ngọc Minh Thư</a></li>
                    </ul>
                    @*<img src="~/Image/thumbnail/map.png" alt="" />*@
                </div>
                <div class="contact-address col-lg-3 col-md-6 col-12">
                    <h3>ĐỊA CHỈ</h3>
                    <p>
                        <i class="fa-solid fa-location-dot"></i><span>
                            CN1: 806 QL22, ấp Mỹ Hoà 3, Hóc
                            Môn, Hồ Chí Minh, Việt Nam
                        </span> <br />
                        <br />
                        <i class="fa-solid fa-location-dot"></i><span>CN2: 828 Đ. Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh, Việt Nam </span><br />
                        <br />
                        <i class="fa-solid fa-location-dot"></i><span>CN3: 52-70 Ba Gia, Phường 7, Tân Bình, Hồ Chí Minh, Việt Nam </span><br />
                    </p>
                </div>
            </div>
        </div>
        <script src="~/Scripts/home_page/main.js"></script>
        <script>
            function handleEnter(event) {
                if (event.key === 'Enter') {
                    redirectToSearchPage();
                }
            }
            function redirectToSearchPage() {
                const keyword = document.getElementById('search-input').value.trim();
                if (keyword) {
                    window.location.href = `/Search/Index?keyword=${encodeURIComponent(keyword)}`;
                }
            }
        </script>
    </div>
</body>
</html>
