<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Liên kết Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />

    <!-- Các liên kết CSS của Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap Bundle JS (bao gồm Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Các tệp CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/MasterLayout/header.css" />
    <link rel="stylesheet" href="~/Content/MasterLayout/subnav.css" />
    <link rel="stylesheet" href="~/Content/MasterLayout/style.css">
    <link rel="stylesheet" href="~/Content/MasterLayout/footer.css">
    <title>HANGMUSPORTS.VN</title>
</head>
<body>
    <div id="main">
        <div class="header">
            <!-- CONTACT HEADER -->
            <div class="contact-header">
                <ul>
                    <li>
                        <a class="user" href="#"><i class="fa-duotone fa-solid fa-user"></i> LtThanh.</a>
                    </li>
                    <li>
                        <span>
                            <i class="fa-duotone fa-solid fa-phone-volume"></i> HOTLINE:
                        </span>
                        <span class="call">0123456789</span>
                    </li>
                </ul>
            </div>

            <!-- NAV -->
            <div class="nav">
                <div class="list-nav">
                    <ul>
                        <li>
                            <img src="https://hali.vn/wp-content/uploads/2020/01/logo-MU.jpg" />
                            <p>@Html.ActionLink("HANGMUSPORTS.VN", "Home_Page", "HomePage")</p>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("TẤT CẢ", "CategoryPage", "Category")
                        </li>
                        <li class="nav-item">
                            <a href="">NIKE<i class="ti-angle-down"></i></a>
                            <ul class="sub-nav">
                                <li onclick="this.querySelector('a').click()"><a href="">Mercurial</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Phantom</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Tiempo</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Magista</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="">ADIDAS<i class="ti-angle-down"></i></a>
                            <ul class="sub-nav">
                                <li onclick="this.querySelector('a').click()"><a href="">Adidas X</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Copa</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Predator</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="">PUMA<i class="ti-angle-down"></i></a>
                            <ul class="sub-nav">
                                <li onclick="this.querySelector('a').click()"><a href="">Future</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Ultra</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="">MIZUNO<i class="ti-angle-down"></i></a>
                            <ul class="sub-nav">
                                <li onclick="this.querySelector('a').click()"><a href="">Alpha</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Monarcida</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Morelia</a></li>
                                <hr>
                                <li onclick="this.querySelector('a').click()"><a href="">Rebula</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#jersey">ÁO ĐẤU<i class="ti-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#instruct">HƯỚNG DẪN<i class="ti-angle-down"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="#footer">LIÊN HỆ<i class="ti-angle-down"></i></a>
                        </li>
                        <li>
                            <div class="search-bar">
                                <input type="text" placeholder="Search..." />
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </li>
                        <li class="account">
                            @if (HttpContext.Current.Session["Email"] != null)
                            {
                                var email = HttpContext.Current.Session["Email"] as string;
                                <div class="dropdown">
                                    <a class="parentButton dropdown-toggle" data-bs-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                        <span>@email</span>
                                    </a>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Đăng xuất", "Logout", "Account", null, new { @class = "dropdown-item" })
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="container-acc">
                                    @Html.ActionLink("Đăng nhập", "Sign_in", "Account")
                                    <p>/</p>
                                    @Html.ActionLink("Đăng ký", "Register", "Account")
                                </div>
                            }
                        </li>
                        <li>
                            <div class="shopping-cart">
                                <i class="fa-duotone fa-solid fa-cart-shopping"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()

        <!--  footer -->
    <div id="footer" class="footer">
        <div class="contact-footer row">
            <div class="ourself col-md-3 col-6">
                <h3>VỀ CHÚNG TÔI</h3>
                <img src="https://hali.vn/wp-content/uploads/2020/01/logo-MU.jpg" alt="" />
                <div class="socials-list">
                    <a href="https://www.facebook.com/ltt2712?locale=vi_VN"
                       target="_blank">
                        <img src="https://th.bing.com/th/id/R.e790c25db5e52838040686612b1a732c?rik=uVuLX4sResGMKA&riu=http%3a%2f%2fpngimg.com%2fuploads%2ffacebook_logos%2ffacebook_logos_PNG19757.png&ehk=JL234rPBfx%2bf3tobhEVbPdNgJiWOhk251WyRwRAg940%3d&risl=&pid=ImgRaw&r=0"
                             alt="" />
                    </a>
                    <a href="https://www.instagram.com/_ltt_2712/" target="_blank">
                        <img src="https://th.bing.com/th/id/OIP.4yOhxJCs2K0_hNHRpteMmgHaHZ?rs=1&pid=ImgDetMain" alt="" />
                    </a>
                    <a href="https://github.com/ltthanh2712" target="_blank">
                        <img src="https://bitemycoin.com/wp-content/uploads/2018/06/GitHub-Logo.png" alt="" />
                    </a>
                    <a href="https://twitter.com/" target="_blank">
                        <img src="https://th.bing.com/th/id/OIP.ZweGejPwbT5wwshQ2-8qUQHaHa?rs=1&pid=ImgDetMain" alt="" />
                    </a>
                </div>
            </div>
            <div class="info col-md-3 col-6">
                <h3 style="margin-left: 24px;">CHÍNH SÁCH</h3>
                <ul>
                    <li><a href="">Chính sách thanh toán</a></li>
                    <li><a href="">Chính sách giao nhận</a></li>
                    <li><a href="">Chính sách đổi trả</a></li>
                    <li><a href="">Chính sách bảo hành</a></li>
                    <li><a href="">Chính sách bảo mật</a></li>
                    <li><a href="">Chính sách trả góp</a></li>
                    <li><a href="">Chương trình khách hàng thân thiết</a></li>
                </ul>
            </div>
            <div class="map col-md-3 col-6">
                <h3>BẢN ĐỒ</h3>
                <img src="~/Image/thumbnail/map.png" alt="" />
            </div>
            <div class="contact-address col-md-3 col-6">
                <h3>LIÊN HỆ</h3>
                <p>
                    <i class="fa-solid fa-location-dot"></i>CN1: 806 QL22, ấp Mỹ Hoà 3, Hóc
                    Môn, Hồ Chí Minh, Việt Nam <br />
                    <br />
                    <i class="fa-solid fa-location-dot"></i>CN2: 828 Đ. Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh, Việt Nam <br />
                    <br />
                    <i class="fa-solid fa-location-dot"></i>CN3: 52-70 Ba Gia, Phường 7, Tân Bình, Hồ Chí Minh, Việt Nam

                </p>
                <p>Hotline free: 0123456789</p>
                <p>Zalo: 0123456789</p>
                <p>MU VÔ ĐỐI</p>
            </div>
        </div>
    </div>
        <script src="~/Scripts/home_page/main.js"></script>
    </div>
</body>
</html>
