@model IEnumerable<LapTrinhWebBanHang.Models.Product>
@{
    ViewBag.Title = "HANGMU | " + ViewBag.CategoryName;
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Category_page/container_category.css" />

<div class="container-content category-page">
    <div class="slide">
        @if (ViewBag.CategoryID == 1)
        {
            <img src="~/Image/thumbnail/NikePack/Nike.png" alt="Nike" />
        }
        else if (ViewBag.CategoryID == 2)
        {
            <img src="~/Image/thumbnail/AdidasPack/Adidas.png" alt="Adidas" />
        }
        else if (ViewBag.CategoryID == 3)
        {
            <img src="~/Image/thumbnail/PumaPack/Puma.png" alt="Puma" />
        }
        else if (ViewBag.CategoryID == 4)
        {
            <img src="~/Image/thumbnail/JerseyThumb/PhongThayDoMU.jpg" alt="ÁO ĐẤU" />
        }
        else
        {
            <img src="~/Image/thumbnail/MUstadium.png" alt="All" />
        }
    </div>
    <p class="link">HANGMU <span>|</span> <span>@ViewBag.CategoryName</span></p>
    <div class="header-content">
        @*<div class="filter">
            <span class="filter-btn">Filter <i class="fa-solid fa-sliders"></i></span>
        </div>*@
        @*<div class="dropdown">
            <div class="dropdown-header" onclick="toggleDropdown()">
                Sắp xếp<span style="opacity: 0.6" id="selected-option"></span>
                <i style="margin: 0 0 0 2px;" class="fa-solid fa-angle-down icon"></i>
            </div>
            <ul class="dropdown-menu" id="dropdownMenu">
                <li onclick="selectOption(': Mới nhất')">Mới nhất</li>
                <li onclick="selectOption(': Cũ nhất')">Cũ nhất</li>
                <li onclick="selectOption(': Giá: Cao -> Thấp')">Giá: Cao -> Thấp</li>
                <li onclick="selectOption(': Giá: Thấp -> Cao')">Giá: Thấp -> Cao</li>
            </ul>
        </div>*@

    </div>
    <div class="content container">
        <h2 style="text-align: center; font-weight: bold;">@ViewBag.CategoryName</h2>
        @*<div class="content-left col-xl-2 col-md-3">
                <div class="side-bar">
                    <div class="product-size border-bot">
                        <div onclick="toggleSection('size-section')" class="container-toggle">
                            <h4>Kích thước</h4>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul id="size-section" class="section-content">
                            <li class="style-everyList"><input type="checkbox" />35</li>
                            <li class="style-everyList"><input type="checkbox" />36</li>
                            <li class="style-everyList"><input type="checkbox" />37</li>
                            <li class="style-everyList"><input type="checkbox" />38</li>
                            <li class="style-everyList"><input type="checkbox" />39</li>
                            <li class="style-everyList"><input type="checkbox" />40</li>
                            <li class="style-everyList"><input type="checkbox" />41</li>
                            <li class="style-everyList"><input type="checkbox" />42</li>
                            <li class="style-everyList"><input type="checkbox" />43</li>
                            <li class="style-everyList"><input type="checkbox" />44</li>
                        </ul>
                    </div>


                    <div class="product-type border-bot">
                        <div onclick="toggleSection('type-section')" class="container-toggle">
                            <h4>Chủng loại</h4>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul id="type-section" class="section-content">
                            <li class="style-everyList dis-block"><input type="checkbox" />ĐINH TF</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />ĐINH FG</li>
                        </ul>
                    </div>

                    <div class="product-brands border-bot">
                        <div onclick="toggleSection('brands-section')" class="container-toggle">
                            <h4>Thương hiệu</h4>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul id="brands-section" class="section-content">
                            <li class="style-everyList dis-block"><input type="checkbox" />NIKE</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />ADIDAS</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />PUMA</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />MIZUNO</li>
                        </ul>
                    </div>


                    <div class="product-price border-bot">
                        <div onclick="toggleSection('price-section')" class="container-toggle">
                            <h4>Giá</h4>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul id="price-section" class="section-content">
                            <li class="style-everyList dis-block"><input type="checkbox" />Trên 500K</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />500k - 1tr</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />1tr - 2tr</li>
                            <li class="style-everyList dis-block"><input type="checkbox" />Trên 2tr</li>
                        </ul>
                    </div>

                    <div class="product-color">
                        <div onclick="toggleSection('color-section')" class="container-toggle">
                            <h4>Màu sắc</h4>
                            <i class="fa-solid fa-angle-down"></i>
                        </div>
                        <ul id="color-section" class="section-content">
                            <li style="background-color: red;"></li>
                            <li style="background-color: white;"></li>
                            <li style="background-color: yellow;"></li>
                            <li style="background-color: blue;"></li>
                            <li style="background-color: green;"></li>
                            <li style="background-color: gray;"></li>
                            <li style="background-color: orangered;"></li>
                        </ul>
                    </div>
                </div>
            </div>*@


        <div class="content-right">
            <div class="container-products row" id="list-products">
                @if (Model.Any())
                {
                    foreach (var product in Model)
                    {
                        <div class="product-item col-xl-3 col-lg-4 col-sm-6 col-6">
                            <a style="color: black; text-decoration: none;" href="@Url.Action("ProductPage", "ProductPage", new { id = product.ProductID })">
                                <div class="product-image">
                                    <img src="~/Image/product-image/@product.ImageURL" alt="@product.ProductName" />
                                </div>
                                <div class="product-content">
                                    <h6>@product.ProductName</h6>
                                    <p class="description-product">@product.Description</p>
                                    <p class="price">@product.Price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</p>
                                </div>
                            </a>
                        </div>
                    }
                }
                else
                {
                    <p>Không có sản phẩm nào trong danh mục này.</p>
                }
            </div>
        </div>
    </div>
</div>

<script>
function toggleDropdown() {
    const dropdownMenu = document.getElementById("dropdownMenu");

    // Kiểm tra trạng thái hiển thị hiện tại của dropdown
    if (dropdownMenu.style.display === "none" || dropdownMenu.style.display === "") {
        dropdownMenu.style.display = "block"; // Hiển thị menu
    } else {
        dropdownMenu.style.display = "none"; // Ẩn menu
    }
}

function selectOption(optionText) {
    console.log("Bạn đã chọn " + optionText);

    // Gửi yêu cầu AJAX với giá trị sắp xếp
    fetch('@Url.Action("GetAllProductsJson", "Category")?sortBy=' + optionText.trim())
        .then(response => response.json())
        .then(data => {
            if (data) {
                updateProductList(data); // Cập nhật danh sách sản phẩm
            }
        })
        .catch(error => console.log('Lỗi:', error));

    document.getElementById("dropdownMenu").style.display = "none"; // Đóng menu sau khi chọn
    document.getElementById("selected-option").textContent = optionText; // Cập nhật lựa chọn hiển thị
}

// Đóng dropdown menu khi nhấp ra ngoài
window.onclick = function(event) {
    if (!event.target.matches('.dropdown-header')) {
        const dropdownMenu = document.getElementById("dropdownMenu");
        if (dropdownMenu.style.display === "block") {
            dropdownMenu.style.display = "none";
        }
    }
};


    @*// Hàm để tải danh sách sản phẩm từ Controller
function loadProducts() {
    fetch('@Url.Action("GetAllProductsJson", "HomePage")')
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                const products = data.data;
                const productList = document.getElementById('list-products');
                productList.innerHTML = ''; // Làm trống danh sách trước khi thêm mới

                // Duyệt qua danh sách sản phẩm và thêm vào HTML
                products.forEach(product => {
                    const productItem = document.createElement('div');
                    productItem.classList.add('product-item', 'col-lg-3', 'col-sm-4', 'col-6');

                    // Bao cả phần product-item trong thẻ a để khi click vào toàn bộ sản phẩm sẽ chuyển tới ProductPage
                    productItem.innerHTML = `
                     <a style="color: black; text-decoration: none;" href="/Carts/AddToCart?productId=${product.ProductID}&quantity=1" class="btn btn-primary">Thêm vào giỏ</a>
                    <a style="color: black; text-decoration: none;" href="@Url.Action("ProductPage", "ProductPage")/${product.ProductID}">
                        <div class="product-image">
                            <img src="@Url.Content("~/Image/product-image/${product.ImageURL}")" alt="${product.ProductName}" />
                        </div>
                        <div class="product-content">
                            <h6>${product.ProductName}</h6>
                            <p class="description-product">${product.Description}</p>
                            <p class="price">${product.Price.toLocaleString()}</p>
                        </div>
                    </a>
                    `;
                    productList.appendChild(productItem);
                });
            } else {
                console.log('Không thể tải sản phẩm');
            }
        })
        .catch(error => console.log('Lỗi:', error));
    }
    document.addEventListener('DOMContentLoaded', function () {
        loadProducts();
    });*@
</script>
