@model List<OrderHistoryViewModel>
@{
    ViewBag.Title = "Lịch sử mua hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Cart/OrderHistory.css"/>
<div class="container-fluid">
    <h2>Lịch sử mua hàng</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
                <th>Chi tiết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.OrderID</td>
                    <td>@order.OrderDate.ToString("dd/MM/yyyy")</td>
                    <td>@order.SpecificAddress, @order.Block, @order.Town, @order.Province</td> <!-- Địa chỉ -->
                    <td>@order.Phone</td> <!-- Điện thoại -->
                    <td>@order.Status</td> <!-- Trạng thái -->
                    <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", order.Price)</td> <!-- Tổng tiền -->
                    <td>
                        @Html.ActionLink("Chi tiết", "OrderDetail", new { orderId = order.OrderID }, new { @class = "details" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
