@model LapTrinhWebBanHang.Models.Cart

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Giỏ Hàng</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sản phẩm</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Tổng tiền</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>
                    @item.Price.ToString("#,0", new System.Globalization.CultureInfo("vi-VN")) đ
                            </td>
                <td>
                    <form method="post" action="@Url.Action("UpdateCartItem", "Carts")">
                        <input type="number" name="quantity" value="@item.Quantity" min="1" />
                        <input type="hidden" name="productId" value="@item.ProductID" />
                        <button type="submit" class="btn btn-primary">Cập nhật</button>
                    </form>
                </td>
                <td>@item.TotalPrice.ToString("#,0", new System.Globalization.CultureInfo("vi-VN")) đ 
                <td>
                    <form method="post" action="@Url.Action("RemoveCartItem", "Carts")">
                        <input type="hidden" name="productId" value="@item.ProductID" />
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Tổng tiền: @Model.Total.ToString("#,0", new System.Globalization.CultureInfo("vi-VN")) đ</h3>



<a href="@Url.Action("Checkout", "Carts")" class="btn btn-success">Thanh toán</a>
<a href="@Url.Action("Home_page", "HomePage")" class="btn btn-secondary">Tiếp tục mua hàng</a>
